<% provide(:title, 'Contact') %>
<!DOCTYPE html>
<html>
	<head>
		<title>Ruby on Rails Tutorial Sample App | <%= yield(:title) %>
		</title>
	</head>
	<body>
		<h1>Contact</h1>
		<p>Contact Ruby on Rails Tutorial about the samlpe app at the <a href='http://railstutorial.org/contact'>Contact Page</a>.</p>
	</body>
</html>